fastapi
sqlalchemy
cryptography
PyJWT
httpx
jinja2
python-dotenv
pymysql
uvicorn
pydantic[email]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
a2wsgi
pillow
python-multipart
logfire
logfire[sqlalchemy]
logfire[httpx]
googletrans