fastapi
sqlalchemy
cryptography
PyJWT
httpx
jinja2
python-dotenv
pymysql
uvicorn
pydantic[email]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
a2wsgi
pillow
python-multipart
googletrans==4.0.0rc1
alembic